.pagination_container {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.pagination_list {
  display: flex;
  gap: 4px;
}

.paggination_num_item {
  color: currentColor;
  background-color: transparent;
}

.arrow_btn.isActive {
  background-color: var(--light-brown);
  color: var(--white);
  border: none;
  border-radius: 8px;
  font-size: 16px;
  padding: 8px 8px 6px;
  &:hover,
  &:focus {
    background-color: var(--brown);
    border: none;
    color: var(--white);
  }
  &:active {
    background-color: var(--light-brown);
    color: var(--white);
    border: 2px solid var(--white);
    box-shadow: 6px var(--shadow);
    padding: 6px 6px 4px;
  }
}

.arrow_btn.disabled {
  background-color: var(--light-brown);
  opacity: 30%;
  cursor: not-allowed;
  color: var(--white);
  border: none;
  border-radius: 8px;
  padding: 8px 8px 6px;
}

.pagination_btn {
  background-color: transparent;
  border: none;
  width: 40px;
  color: currentColor;
  border-radius: 8px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  padding: 10px 15px;
  &:hover,
  &:focus {
    background-color: var(--light-gray);
    border: none;
    font-weight: 600;
    line-height: 22px;
    padding: 10px 14.78px;
  }
  &:active {
    background-color: var(--light-gray);
    border: 2px solid var(--white);
    box-shadow: 6px var(--shadow);
    padding: 8px 12.78px;
    font-weight: 600;
  }
}

.pagination_btn.isActive {
  background-color: var(--light-brown);
  color: var(--white);
  border: none;
  border-radius: 8px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  padding: 10px 15px;
  &:hover,
  &:focus {
    background-color: var(--brown);
    border: none;
    color: var(--white);
  }
}
