.filter_container {
  margin-top: 48px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.submain_container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.filter_button {
  border: none;
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  font-weight: 600;
}

/* .filter_button use[href*="icon-filter"] {
  transform: translate(4.8px, 4px);
} */

.title {
  font-weight: 600;
  font-size: 32px;
}

.recipes_count {
  font-size: 18px;
  font-weight: 600;
}
